/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.signature-container {
    text-align: center;
}

.signature-canvas {
    border: 1px solid #000;
    display: inline-block;
}
